{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOP</title>
</head>
<body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
<link rel="stylesheet" href="{% static "css/styles.css" %}">
<header>
    <a href="#" class="logo"><img src="https://i.postimg.cc/vZ13Thhp/burger.png" alt="logo">Artiom's Food</a>
    <div class="fa fas-bars" id="menu-icon">
        <ul class="nav-bar">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#shop">Shop</a></li>
            <li><a href="#customer">Customer</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</header>


<!--home section-->
<section class="home" id="home">
    <div class="home-text">
        <span>Welcome to the</span>
        <h1>Artiom's Food</h1>
        <p>
            Welcome to Artiom's Food, your go-to destination for delicious and inspiring culinary adventures! Dive into
            a world where flavor meets creativity, featuring a wide range of dishes that cater to every palate. From
            traditional classics to modern twists, each recipe is carefully crafted to ensure a delightful dining
            experience.</p>
        <a href="#" class="btn">Our Services</a>
    </div>
    <div class="home-img">
        <img src="https://i.postimg.cc/VNFr8Spd/2027141.jpg" alt="">
    </div>
</section>

<!--About-->

<section class="about" id="about">
    <h1>Today's Deal</h1>
    <div class="about-container" id="product-container">
        <!-- Products will be loaded here by JavaScript -->
    </div>
</section>
<!--Shop-->
<section class="shop" id="shop">
    <div class="heading">
        <h2>Food Shop</h2>
        <p>The best Food Shop</p>
    </div>
    <div class="shop-container" id="shop-container">
        <!-- Products will be loaded here by JavaScript -->
    </div>
</section>

<!--customer-->

<section class="customer" id="customer">
    <div class="heading">
        <h2>Our Customer's</h2>
        <p>Customers reviews</p>
    </div>
    <div class="customer-container">
        <div class="box">
            <img src="https://i.postimg.cc/bY78LWhk/profile.jpg" alt="">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>Best shop in the worlds</p>
            <h2>Masha</h2>
        </div>
        <div class="box">
            <img src="https://i.postimg.cc/xCgY619d/profile1.jpg" alt="">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>WOW!</p>
            <h2>Denis</h2>
        </div>
        <div class="box">
            <img src="https://i.postimg.cc/DyRhjD31/profile2.jpg" alt="">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p>Artiom's Shop, one of the best!</p>
            <h2>Max</h2>
        </div>
    </div>
</section>

<!--Contact-->

<section class="contact" id="contact">
    <div class="heading">
        <h2>Contact Us</h2>
        <p>You can find us</p>
    </div>
    <div class="contact-container">
        <div class="contact-info">
            <h2>Get in touch</h2>
            <p>See ditails</p>
            <div class="address">
                <i class="fas fa-map-marker-alt"><span>Moldova, Chisinau, 12/2</span></i>
                <i class="fas fa-phone"><span>+37360666666</span></i>
                <i class="fas fa-envelope"><span>test@test.com</span></i>
            </div>
            <div class="social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="contact-form">
            <form action="#">
                <input type="text" name="name" id="name2" placeholder="Name">
                <input type="email" name="email" id="name" placeholder="Email">
                <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                <input type="button" value="submit" class="btn">
            </form>
        </div>
    </div>
</section>

<div class="copy-right">
    <p>&copy; 2024 all rights reserved</p>
</div>

<script src="{% static "products/script.js" %}"></script>
</body>
</html>



